/* sets style of shown tasks */

.task-create-card {
    background-color: var(--secondary-color);
    padding: 1em;
}

.task-create-card input {
    width: 100%;
}

.task-list {
    list-style: none;
    padding-left: 0;
}

.task-card {
    background-color: blanchedalmond;
    padding: 1em;
    margin: 0.6em 0;
}

.task-content {
    padding: 0.3em 0;
}